{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            },
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}